# for
- 구조
```
for 변수 in 문자열/리스트/튜플 :
        수행할 코드     
```

## 1. for 문 활용

In [1]:
people = ['김', '이', '박']
people = [i + '씨' for i in people]
people

['김씨', '이씨', '박씨']

In [3]:
students = [75, 80, 93]
number = 0
for student in students:
    number = number + 1
    if student >= 80:
        print('%d번 학생은 합격입니다.' %number)
    else :
        print('%d번 학생은 불합격입니다.' %number)

1번 학생은 불합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.

### 문자열을 길이로 변환

In [5]:
fruit = ['사과', '바나나', '블루베리']
fruit = [len(i) for i in fruit] # fruit에 있는 데이터를 하나 씩 꺼내 길이로 변환
fruit

[2, 3, 4]

### 소문자를 대문자로 변환

In [7]:
fruit = ['apple', 'banana', 'blueberry']
fruit = [i.upper() for i in fruit]
fruit

['APPLE', 'BANANA', 'BLUEBERRY']

## 2. continue

In [14]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in num:
    if (i % 2 == 0) :
        print(i)
    else :
        continue

2
4
6
8
10

## 3. range 함수
```range(이상, 미만)```

In [15]:
for i in range(1, 10) :
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
sum = 0

for i in range(1, 10) :
    sum = sum + 1

print(sum)

9

## 중첩 For문 - 구구단

In [19]:
for i in range (2, 10) :
    for j in range (1, 10) :
        print(i, "*", j, "=", (i * j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 4. 리스트 만들기
- 리스트 내포 (List comprehension)

In [20]:
a = [1, 2, 3]
box = []

for num in a :
    box.append(num * 10)

box

[10, 20, 30]

In [22]:
# 리스트 내포
a = [1, 2, 3]
box = [num * 10 for num in a] # 리스트 a에 있는 값들을 num에 하나 씩 담고 num * 10한 값을 box에 담는다
box

[10, 20, 30]

In [23]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
box = [num // 2 for num in a if num % 2 == 0]
box

[1, 2, 3, 4, 5]