# 함수
- 함수
- 반환문
- 지역변수, 전역변수
- 람다

## 1. 함수

In [3]:
list = [3, 4, 62, 27, 83, 956, 26, 58, 3, 78, 168, 64, 78]
print_list(list)

def print_list(list): # 매개 변수가 있는 함수
    for i in list:
        print(i)

3
4
62
27
83
956
26
58
3
78
168
64
78

In [9]:
def boy(): # 매개 변수가 없는 함수
    print('I am a boy')
    print('You are a girl')

boy()

I am a boy
You are a girl

In [12]:
def check(a, b):
    if a > b:
        print('a > b')
    elif a < b:
        print('a < b')
    else:
        print('a == b')

check(10, 20)

a < b

## 2. 반환문

In [13]:
def plus1(a, b):
    result = a + b
    return result

plus(10, 20)

30

#### 반환 값이 없으면 ```None```을 출력한다

In [17]:
def plus2(a, b):
    result = a + b
    print(result)

num = plus2(2, 3)
print(num)

5
None

### 연습 문제
태어난 해를 네 자리 숫자로 입력하면 한국 나이를 반환하는 함수 korean_age()를 작성하세요.

In [28]:
from datetime import datetime
today = datetime.today()
today.year

def korean_age(birth_year):
    age = (today.year - 1900) - (birth_year - 1900) + 1
    return age

korean_age(2000)

23

## 3. 지역변수, 전역변수

In [37]:
global_num = 10
print(global_num)

def get_num():
    local_num = 20
    print(local_num)

print(local_num) # 지역변수는 함수 내부에서만 사용 가능

10

NameError: name 'local_num' is not defined

### 함수 안에서 전역변수 만들기 ```global```

In [35]:
def market():
    global fruit
    fruit = 'apple' # 전역변수
    print('전역변수: ', fruit)

market()
fruit

전역변수:  apple

'apple'

## 4. 람다
```lambda 매개변수 : 표현식```

In [3]:
# 함수
def hap(x, y):
    return x + y

hap(10, 20)

30

In [4]:
# 람다
(lambda x, y : x + y)(10, 20)

30

### map()
```map(함수, 리스트)```
- 함수와 리스트를 인자로 받아 리스트의 데이터들을 하나씩 꺼내 함수에 적용시킨 결과를 **새 리스트에 담는다.**

In [6]:
list(map(lambda x : x ** 2, range(5)))

[0, 1, 4, 9, 16]

### reduce()
```reduce(함수, 시퀀스)```
- 시퀀스의 데이터들을 함수에 **누적**하며 실행한다.

In [8]:
from functools import reduce
reduce(lambda x, y : x + y, [0, 1, 2, 3, 4])
# 0+1=1
# 1+2=3
# 3+3=6
# 4+6=10

10

### filter()
```filter(함수, 리스트)```
- 리스트에 있는 데이터들을 함수에 적용시켜 **결과가 참인 값들만** 모아 새 리스트에 담는다.

In [10]:
# 10까지 반복하는데, 5보다 작은 것들만 뽑는다.
list(filter(lambda x : x < 5, range(10)))

[0, 1, 2, 3, 4]